body {
    background-color: white;
}
{
    margin: 0;
    padding: 0;
}
header{
    background-color: #007acc;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
nav ul li {
    margin: 0 15px;
}

h1 {
    color: blue;
}

h2 {
    color: green;
}

h3 {
    color: orange;
}

/* estilos footer */
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;

}
.contenido{
    padding: 40px;
    text-align: center;
}
.formulario{
    max-width: 500px;
    margin: 30px auto;
    background-color: #c7b7b7;
    padding: 20px;
    border-radius: 8px;
}